body {
 background-color: #121212; 
}
/* For navbar only */
.navbar-brand {
  /* margin-top: 20px; */
  padding: 20px;
  columns: white;
}

.navbar-item-2 img{
  border-radius: 10px;
}
.recipe-tile{
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #485fc7;
  color: #ffffff;
}
.recipe-tile img{
  max-height:100px;
  max-width: 100px;
  margin-right: 300px;
}
.drink-tile{ margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #485fc7;
  color: #ffffff;

}
.drink-tile img{
  max-height: 100px;
  max-width: 100px;

}

.control {
  font-weight: bold;
}

.box h3 {
  font-weight: bolder;
}
