body {
 background-color: #121212; 
}
/* For navbar only */
.navbar-brand {
  /* margin-top: 20px; */
  padding: 20px;
  columns: white;
}

.navbar-item-2 img{
  border-radius: 10px;
}

.control {
  font-weight: bold;
}

.box h3 {
  font-weight: bolder;
}